N8N/AI Summary to YouTube Content Search.json
{
  "name": "AI Summary to YouTube Content Search",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai-summary",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "7e866cbb-9c7c-4bdb-bf73-f9abb0650654",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        448,
        32
      ],
      "webhookId": "68d4daa4-a7ee-4ce8-b76c-b621504676ac"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "id-1",
              "name": "maxResults",
              "value": 5,
              "type": "number"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "id": "56874897-b067-4842-b37b-584d68b38919",
      "name": "Workflow Configuration",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        672,
        32
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "id",
          "value": "gpt-4o-mini"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "Summarize the following content in 2-3 sentences, focusing on the main topics and key points:"
            },
            {
              "content": "={{ $json.body.content }}"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "id": "397d574d-86dd-4da3-9a78-90c82cc79d8d",
      "name": "Summarize Content",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2,
      "position": [
        896,
        32
      ],
      "credentials": {
        "openAiApi": {
          "id": "mXRDnExF0qqRx82R",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "resource": "video",
        "limit": "={{ $('Workflow Configuration').first().json.maxResults }}",
        "filters": {
          "q": "={{ $json.message.content }}"
        },
        "options": {
          "order": "relevance"
        }
      },
      "id": "98932468-adc4-412b-b839-28ad1c709503",
      "name": "Search YouTube",
      "type": "n8n-nodes-base.youTube",
      "typeVersion": 1,
      "position": [
        1248,
        32
      ],
      "credentials": {
        "youTubeOAuth2Api": {
          "id": "4uhv5hfzRgZr0ck3",
          "name": "YouTube account"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {
          "responseCode": 200
        }
      },
      "id": "8d267caf-579f-4ee6-aede-3c28d4c5620f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        1472,
        32
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Workflow Configuration",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Configuration": {
      "main": [
        [
          {
            "node": "Summarize Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Content": {
      "main": [
        [
          {
            "node": "Search YouTube",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search YouTube": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "a16b0147-4a0c-42b1-b0d9-3c98a2cbb396",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6c206dc36df7b9f4193f716d58b27a9903bca5548921a24d189bd684a56d270"
  },
  "id": "h44RTtUoHZkelhgX",
  "tags": []
}