N8N/CHAT_AI.json
{
  "name": "CHAT_AI",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "chat-ai-agent",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "c5741485-b9cc-4111-b9fb-d79e807af7f3",
      "name": "Webhook",
      "webhookId": "85b179bf-7eb2-41be-a685-06f967e6d499"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "user_onboarding_information",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "keyValue": "={{ $json.body.user_id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "475d0885-50d3-4323-a6a1-cca301da9f59",
      "name": "Get a row",
      "credentials": {
        "supabaseApi": {
          "id": "5kXA2SJUhPudI6vn",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={\n  \"prompt\": \"You are a financial expert with the ability to access up-to-date financial information and offer personalized advice. Your task is to evaluate the financial situation of an individual based on the following data and provide advice on how they can best manage their finances, plan for their goals, and potentially invest for the future.\\n\\nThe user has provided the following details about their financial situation:\\n\\n{data}\\n\\nAdditionally, the user has shared the following personal text, which may help you provide more tailored advice:\\n\\n{userText}\\n\\nPlease provide detailed advice on the following aspects:\\n\\n1. **Savings and Expenses**: How can this individual improve their savings or manage expenses better?\\n2. **Investment Strategy**: Should this individual start investing, and if so, what types of investments might be most suitable for them given their current situation and goals?\\n3. **Short-term and Long-term Goals**: What steps can they take to achieve their short-term and long-term financial goals?\\n4. **Life Planning**: Based on their current mindset about life planning, what advice can you give them for a more structured approach to achieving financial stability and wealth?\\n\\nProvide actionable, expert-level advice based on current financial best practices, tailored to the individual's specific circumstances, including the data about their monthly income, expenses, major assets, and future goals.\\n\\nThe individual has provided the following details:\\n\\n{data}\",\n  \"data\": [\n   {{ $('Get a row') }}\n  ],\n  \"userText\": \"{{ $('Webhook').item.json.body.message }}\"\n}\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        416,
        0
      ],
      "id": "2d288774-f6d2-4f12-a68f-234a545ce76a",
      "name": "Internet Access Ai bot"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        400,
        240
      ],
      "id": "87ed066e-2c9c-4dff-b233-94be751443a9",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "9PVeEdQBfYxrBQ7g",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('Webhook').item.json.body.session_id }}",
        "contextWindowLength": 500
      },
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        512,
        208
      ],
      "id": "7fe90a15-8f8c-4d63-b2a8-9596b7b0433e",
      "name": "Postgres Chat Memory",
      "credentials": {
        "postgres": {
          "id": "AWXiJR0AkEt7xs4H",
          "name": "Postgres account 2"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "={{ $('Internet Access Ai bot') }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        736,
        0
      ],
      "id": "84197170-76da-4445-b163-b696161a2d6f",
      "name": "Respond to Webhook",
      "retryOnFail": true,
      "maxTries": 5,
      "onError": "continueRegularOutput"
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "finance-setu.app.n8n.cloud",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/142.0.0.0 Safari/537.36",
            "content-length": "146",
            "accept": "*/*",
            "accept-encoding": "gzip, br",
            "accept-language": "en-GB,en-US;q=0.9,en;q=0.8",
            "cdn-loop": "cloudflare; loops=1; subreqs=1",
            "cf-connecting-ip": "2409:40c0:78:adbf:1d2a:d2aa:9289:e0aa",
            "cf-ew-via": "15",
            "cf-ipcountry": "IN",
            "cf-ray": "9a5ff8c621f2a452-SIN",
            "cf-visitor": "{\"scheme\":\"https\"}",
            "cf-worker": "n8n.cloud",
            "content-type": "application/json",
            "origin": "https://preview-setufinancemain-kzmlei1tkeofhbhvifcz.vusercontent.net",
            "priority": "u=1, i",
            "referer": "https://preview-setufinancemain-kzmlei1tkeofhbhvifcz.vusercontent.net/",
            "sec-ch-ua": "\"Chromium\";v=\"142\", \"Google Chrome\";v=\"142\", \"Not_A Brand\";v=\"99\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "2409:40c0:78:adbf:1d2a:d2aa:9289:e0aa, 104.23.175.57",
            "x-forwarded-host": "finance-setu.app.n8n.cloud",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "traefik-prod-users-gwc-93-55cb986576-wh8sx",
            "x-is-trusted": "yes",
            "x-real-ip": "2409:40c0:78:adbf:1d2a:d2aa:9289:e0aa"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "hello",
            "user_id": "99483bcf-9759-4e85-a013-9cc34e224628",
            "session_id": "1764396678316-gjao5h762",
            "timestamp": "2025-11-29T06:15:37.565Z"
          },
          "webhookUrl": "https://finance-setu.app.n8n.cloud/webhook/chat-ai-agent",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get a row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a row": {
      "main": [
        [
          {
            "node": "Internet Access Ai bot",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Internet Access Ai bot",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "Internet Access Ai bot",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Internet Access Ai bot": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1bea662c-b241-4995-9eca-c7128650f15c",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e6c206dc36df7b9f4193f716d58b27a9903bca5548921a24d189bd684a56d270"
  },
  "id": "NLDTj88MtIMk9TJp",
  "tags": []
}